<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="order">
	<!-- 01. 게시글 전체 목록 조회 -->
    <select id="list" resultType="com.kwang.commerce01.model.dto.OrderVO">
        SELECT 
        	o.order_id AS orderId,
            o.user_id AS userId, 
            o.order_state AS orderState,
            t.tno,
            t.title,
            t.summary,
            t.sdate,
            t.edate,
            t.location,
            t.poster,
            t.tprice,
            o.amount
        FROM 
            tbl_ticket t, tbl_member m, tbl_order o
        WHERE m.user_id = o.user_id
        	AND t.tno = o.tno
        	AND o.user_id = #{userId}
        ORDER BY o.order_id DESC
    </select>
    
    <select id="listAll" resultType="com.kwang.commerce01.model.dto.OrderVO">
    	SELECT 
        	o.order_id AS orderId,
            o.user_id AS userId, 
            o.order_state AS orderState,
            t.tno,
            t.title,
            t.summary,
            t.sdate,
            t.edate,
            t.location,
            t.poster,
            t.tprice,
            o.amount
        FROM 
            tbl_ticket t, tbl_member m, tbl_order o
        WHERE m.user_id = o.user_id
        	AND t.tno = o.tno
        ORDER BY o.order_id DESC
    </select>
    
    
    <!-- 01_02. 게시글 레코드 갯수 -->
	<select id="countArticle" resultType="int">
	    SELECT COUNT(*) FROM tbl_board b, tbl_member m
	    <!-- WHERE절을 include 태그로 삽입 -->
	    <include refid="search"></include>
	</select>
	
	<!-- sql code 조각 -->
	<!-- 반복되는 sql의 일부를 sql태그를 이용하여 따로 빼둘수 있다. -->
	<sql id="search">
	    <choose>
	        <!-- 검색옵션이 전체 검색일 경우 -->
	        <when test="searchOption == 'all'">
	            WHERE b.writer = m.user_id
	            AND    
	            (user_name like '%'||#{keyword}||'%'
	            OR content like '%'||#{keyword}||'%'
	            OR title like '%'||#{keyword}||'%')
	        </when>
	        <!-- 전체 검색이 아닐 경우 -->
	        <otherwise>
	            WHERE b.writer = m.user_id 
	            AND ${searchOption} like '%'||#{keyword}||'%'
	        </otherwise>
	    </choose>
	</sql>


    
	<!-- 02. 카트 추가 -->
    <insert id="orderAdd">
        INSERT INTO tbl_order (
          order_id, 
          user_id, 
          tno, 
          amount,
          order_state
        ) VALUES (
          seq_order.NEXTVAL,
          #{userId},
          #{tno},
          #{amount},
          #{orderState}
        )
    </insert>
	
	
	<!--03. 게시글 상세보기 조회 -->
    <select id="view" resultType="com.kwang.commerce01.model.dto.BoardVO">
        SELECT * FROM tbl_board 
        WHERE bno = #{bno}
    </select>
	
	<!-- 05. 게시글 수정처리 -->
    <update id="orderUpdate">
        UPDATE tbl_order SET
            order_state = #{orderState}
        WHERE order_id = #{orderId}
    </update>
	
	<!-- 5. 장바구니 삭제 -->
    <delete id="cartDelete">
        DELETE FROM tbl_cart 
        WHERE cart_id = #{cartId}
    </delete>
	
	<!-- 6. 장바구니에 동일한 상품 레코드 확인 -->
    <select id="countOrder" resultType="int">
        SELECT COUNT(*)
        FROM tbl_order
        WHERE user_id= #{userId} 
        AND tno = #{tno}
    </select>
	
</mapper>